@import url(/style/reset.css);
@import url(/style/base.css);
@import url(/theory/css/grid.css);

/* 스프라이트 이미지 */
.sprite{
  height: 60px;
  background: yellow url(/images/sprite_main.png) no-repeat;
  padding-left: 64px;;
}

.sprite-book {
  background-position: 0 0;
}

.sprite-news {
  background-position: 0 -230px;
}

.sprite-board {
  background-position: 0 -115px;
}

.sprite-favorite {
  background-position: 0 -345px;
}

.sprite-twitter {
  background-position: 0 -460px;
}

/* 헤드라인 스타일 */
.headline {
  font-size: 1.25rem;
  font-weight: 700;
}

/* flex 레이아웃 스타일 */
.flex-items-center {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* svg 이미지 */
[class^="icon"] {
  width: 100px;
  height: 100px;
}

.svg-icon-search {
  width: 150px;
  height: 150px;
  
  path {
    fill: red;

    @media (prefers-color-scheme: dark) {
      fill: blue;
    }
  }
}

/* svg 배경 이미지 */
.plus {
  width: 100px;
  height: 100px;
  /* border: 1px solid red; */
  /* background-repeat: no-repeat; */
  background-color: yellow;
  mask-image: url(./../../images/icons/plus.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;

  @media (prefers-color-scheme: dark) {
    background-color: green;
  }
}

[role="img"] {
  width: 100px;
  height: 100px;
  
  circle {
    fill: red;
  }
}

.sprite-icon {
  width: 100px;
  height: 100px;
  background-color: green;
  mask-image: url(/images/icons/stack.svg#dot_circled);
}