@import url(./theme.css);

:root {
  --container-size: 940px;
  /* 화면에 아무런 영향이 없고 불러 써야 영향이 생김 */
  --primary: var(--orange-200);
  --secondary: var(--orange-100);
  --border-primary: var(--gray-900)
}

/* 기본 박스 사이징 설정 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 그라디언트 배경, 배경 이미지 다중으로 배치 */
body {
    margin: 0;
    line-height: 1.15;
    font-family: "SUIT Variable", sans-serif;
    background-color: #ccc;
    background-image: url(/images/bg_flower.png), linear-gradient(to bottom, #aaa 0%, #ccc 30%, #eee 50%, #fff 100%);
    background-repeat: no-repeat;
    background-position: 50% 0, 0 0;
}

.header, .visual, .main, .slogan, .footer-inner {
  width: var(--container-size, 940px);
  /* 5개 선택자에는 가로 크기를 컨테이너 사이즈 변수가 기억하고 있는 940사이즈로 해줘. 
  만약 호출할 변수가 없으면 940으로 할당해줘 -> 콜백 컨텐츠 */
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: var(--primary);
  height: 120px;
  padding: 0 28px;
  /* 위아래는 없고 좌우 공백만 -> 숏핸드표기법 단축표기법 -> 첫번쨰는 위아래패딩, 두번째는 좌우패딩 */
  border-radius: 0 0 15px 15px;
  /* 왼쪽상단부터 시계방향 */
  position: relative;
}

/* 로고 */
.logo {
  /* background-color: orange; */
  position: absolute;
  top: 45px;
  left: 60px;
  margin: 0;
  font-size: 1em;

  a, img {
    display: block;
    /* 인라인 상자 정렬 */
    /* vertical-align: middle; */
  }

}

/* 텍스트 링크 모음 */
.member-service {
  --spacing: 8px;

  translate: var(--spacing, 8px) 0;
  font-size: 0; /* root의 글자크기가 바뀌면 맞춰서 바뀌라고 (반응형)*/
  list-style-type: none; /* 불릿 제거 */
  padding-inline-start: 0; /* 왼쪽 여백 삭제 (left의 의미) */
  margin: 0; /* 블록 방향도 인라인 방향도 모두 0값을 주겠다! */
  text-align: right;


  /* 컴포넌트가 캡슐화가 되어있어야 함 */
  li {
    display: inline-block;
    margin: 0;
    font-size: 0.875rem;
    
    a{
      display: inherit;
      padding: 8px var(--spacing, 8px) 8px 4px;
      margin: 0;
      font-variant: small-caps;
      text-transform: uppercase;
      color: inherit;
      text-decoration: none;
    }
  }
}



/* 비주얼 */
@keyframes moveEffect {
  0%{
    font-size: 12px;
    translate: 0 0;
    /* transform: translate(0,0) scale(1); */
    /* rotate: 0deg; */
  }
  100%{
    font-size: 24px;
    translate: 320px 75px;
    /* transform: translate(400px,75px) scale(2); */
    /* rotate: 45deg; */
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  /* 50% {
    opacity: 0;
  } */
  100% {
    opacity: 0;
  }
}

.visual::before {
  background-image: url(/images/ani_flower_01.png), url(/images/ani_flower_02.png);
  background-position: 0 -10px, 600px 10px;
}

.visual::after {
  background-image: url(/images/ani_flower_03.png), url(/images/ani_flower_04.png);
  background-position: 300px 0, 800px 30px;
  animation-delay: 2000ms;
}


.visual {
  /* border: 1px solid transparent; */
  /* background-color: pink; */
  height: 120px;
  block-size: 120px;
  position: relative;

  &::before, &::after{
    content: "";
    width: inherit; /* 부모 상자의 너비를 상속 */
    inline-size: inherit;
    height: inherit;
    block-size: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    animation-name: fadeEffect;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
}



.visual-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation-name: moveEffect;
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  display: inline-block;
  z-index: 1;
  position: relative;
}

/* 메인 콘텐츠 */
.main {
  background-color: #fff;
  display: flow-root;
  min-height: 450px; /* 컨텐츠양이 작더라도 안정감있는 레이아웃을 만들기 위해 최소높이를 할당 */
  padding: 28px 16px 36px;

  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /* 메인 축의 정렬을 담당 -> item들 (자식요소) */
  /* align-items: stretch; /* 교차 축의 정렬을 담당 -> item들 (자식요소) */
  /* padding: 28px 16px 36px; /* 위쪽 좌우 아래쪽 */
}

.group {
  border: 1px solid red;
  float: left;
}

.group:nth-child(n+2) {
  margin-left: 44px;
}

.group1 {
  width: 250px;
  /* background-color: orange; */
}

.group2 {
  width: 380px;
  /* background-color: silver; */
}

.group3 {
  /* background-color: hotpink; */
  width: 190px;
}


/* 슬로건 */
.slogan {
  /* background-color: lime; */
  height: 10vh;
  clear:both;
}

/* 푸터 */
.footer {
  /* background-color: orange; */
}

.footer-inner {
  /* background-color: yellow; */
  height: 10vh;
}


/* flex를 지원하는 웹브라우저를 위한 스타일 */

/* @font-face {
  font-family: ;
  src: url();
}

@import url(...slogan); 

요런 엣사인 사용했다! */

@supports (display: flex) {
  /* 사용자 환경에서 flex를 지원하면 이걸 해석하겠다! */
  .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}