@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --container-size: 940px;
  /* 화면에 아무런 영향이 없고 불러 써야 영향이 생김 */
}

body {
    font-family: "Noto Sans KR", sans-serif;
}

.header, .visual, .main, .slogan, .footer-inner {
  width: var(--container-size, 940px);
  /* 5개 선택자에는 가로 크기를 컨테이너 사이즈 변수가 기억하고 있는 940사이즈로 해줘. 
  만약 호출할 변수가 없으면 940으로 할당해줘 -> 콜백 컨텐츠 */
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: yellow;
  height: 10vh;
  padding: 0 50px;
  /* 위아래는 없고 좌우 공백만 -> 숏핸드표기법 단축표기법 -> 첫번쨰는 위아래패딩, 두번째는 좌우패딩 */
}

/* 비주얼 */
.visual {
  background-color: pink;
  height: 10vh;
}

/* 메인 콘텐츠 */
.main {
  background-color: skyblue;
  display: flow-root;
  min-height: 450px; /* 컨텐츠양이 작더라도 안정감있는 레이아웃을 만들기 위해 최소높이를 할당 */
  padding: 28px 16px 36px;

  /* display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; /* 메인 축의 정렬을 담당 -> item들 (자식요소) */
  /* align-items: stretch; /* 교차 축의 정렬을 담당 -> item들 (자식요소) */
  /* padding: 28px 16px 36px; /* 위쪽 좌우 아래쪽 */
}

.group {
  border: 1px solid red;
  float: left;
}

.group:nth-child(n+2) {
  margin-left: 44px;
}

.group1 {
  width: 250px;
  background-color: orange;
}

.group2 {
  width: 380px;
  background-color: silver;
}

.group3 {
  background-color: hotpink;
  width: 190px;
}


/* 슬로건 */
.slogan {
  background-color: lime;
  height: 10vh;
  clear:both;
}

/* 푸터 */
.footer {
  background-color: orange;
}

.footer-inner {
  background-color: yellow;
  height: 10vh;
}


/* flex를 지원하는 웹브라우저를 위한 스타일 */

/* @font-face {
  font-family: ;
  src: url();
}

@import url(...slogan); 

요런 엣사인 사용했다! */

@supports (display: flex) {
  /* 사용자 환경에서 flex를 지원하면 이걸 해석하겠다! */
  .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}